.iframe-wrap {
  position: relative;
  width: 70%;
  padding-top: 56.25%;
}

.iframe-wrap iframe {
  background-color: #990000
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

p.room {
  padding-left: 10px;
}
